* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    width: 9em;
    height: 3em;
    border-style: none;
    border-radius: 2em;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color:rgb(215 225 241);
}

button:hover {
    background-color: rgb(177, 188, 204);
}

.topmargin {
    margin-top: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    justify-content: center;
    background-color: rgb(202, 202, 202);
    border: solid 20px  rgb(215 225 241);
    border-radius: 20px;
}

div#container > div {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

div#container > div > div#col {
    flex: 1 0 auto;
}



.entered {
    background-color: black;
}